#movingBackground {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
    visibility: visible;
}
#endScreen {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
    visibility: hidden;
}
#ship-container {
	display: inline-block;
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
}

